<% content_for :title, '友達招待' %>

<div id="Invite">
<div class="row">
<div class="medium-6 medium-centered columns">

<%= form_for (@invite) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <label>メールアドレス</label>
  <%= f.email_field :email, class: 'radius' %>
  <%= f.submit '送信', class: 'button radius expand' %>
<% end %>

</div>
</div>
</div>
