<% content_for :title, 'ユーザー一覧' %>

<div id="User">
<div class="row">
<div class="medium-8 medium-centered columns">

  <% @users.each do |user| %>
    <%= link_to user.username, user_path(user.username) %><br>
  <% end %>

</div>
</div>
</div>