<% content_for :title, 'パスワードを忘れた' %>

<div id="Reset">
<div class="row">
<div class="medium-6 medium-centered columns">

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.email_field :email, class: 'radius', placeholder: 'email' %>
    <%= f.submit 'パスワード再設定を送信', class: 'button radius expand' %>
  <% end %>

</div>
</div>
</div>