<% if object.errors.any? %>
  <div class="error_explanation">
    <%#= object.errors.count %>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>