/*------------------------------------------------------------------------------
Score
------------------------------------------------------------------------------*/
#Score {
  padding: 20px 0;
}
#Score #Scroll {
  margin-top: -1rem;
  margin-bottom: 1rem;
}
