/*------------------------------------------------------------------------------
Score
------------------------------------------------------------------------------*/
#Score {
  padding: 20px 0;
}
#Score #Frame {
  margin: 0 auto 1rem;
  width: 328px;
  height: 320px;
  overflow-x: hidden;
}
#Score #Frame::-webkit-scrollbar {
width: 8px;
}
#Score #Frame::-webkit-scrollbar-thumb {
border-radius: 4px;
background: rgba(255,255,255,0.5);
}

input[type=range] {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 4px;
  background: #333;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  margin-top: -0.4rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #909;
}
