<% content_for :title, '新規登録' %>

<div id="Signup">
<div class="row">
<div class="medium-6 medium-centered columns">

  <h1>新規登録</h1>
  <p>クローズドβ版のため、すでにご利用いただいている皆様から招待通知を受け取るか、下記の入力フォームにメールアドレスをご登録してお待ちください。メールアドレスをご登録いただいた方には順次ご連絡を差し上げます。</p>
  <p class="text-center text-small" style="margin-top:0.75rem;font-weight:bold;">（※gmail.com ドメインから確認メールが届きます。）</p>

</div>
</div>
</div>
